<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}"/>

</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Family Agent</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Age</a></li>
        <li><a href="#">Gender</a></li>
        <li><a href="#">Geo</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>What's happening ?</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">House</a></li>
        <li><a href="#section3">Trips</a></li>
        <li><a href="#section3">Events</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>Events to come</h4>
        <p><div id="container" style="margin-top: 3em"></div></p>
      </div>
        <h1> Today </h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Birthdays</h4>
            {% if todays_birthdays|length>0 %}
             {% for item,item2,age in todays_birthdays %}
			   <p>{{ item }} {{ item2 }} {{ age }} years old  </p>
			  {% endfor %}
			 {% else %}
			   <p>No Birthdays Today :(</p>
 {% endif %}

          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Saint's day</h4>
            {% if todays_saintsday|length>0 %}
             {% for item,item2,age in todays_saintsday %}
			   <p>{{ item }} {{ item2 }} </p>
			  {% endfor %}
			 {% else %}
			   <p>No Saint's day to celebrate today :(</p>
 {% endif %}

          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Events</h4>
            <p style="display: inline">22 </p><p style="display: inline">jan</p>
          </div>
        </div>

      </div>

        <h1>Coming Soon</h1>

      <div class="row">

        <div class="col-sm-4">
          <div class="well">
            <h4>Birthdays</h4>
             {% for item,item2,age,date in next_birthdays %}
			   <p>{{ date }} : {{ item }} {{ item2 }} {{ age }} years old </p>
			  {% endfor %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Saint's day</h4>
             {% for item,item2,age,date in next_saintsday %}
			   <p>{{ date }} : {{ item }} {{ item2 }} </p>
			  {% endfor %}
          </div>
        </div>

		<div class="col-sm-4">
		  <div class="well">
			<p>Text</p>
			<p>Text</p>
			<p>Text</p>
		  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

var Data= {{ plot_data  | safe}}
var values = Data[1]
var labels=Data[0]

console.log(Data)
Highcharts.chart('container', {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: ' Correlations'
    },
    xAxis: [{
        categories: labels
    }],
    yAxis: [{ // Primary yAxis
        gridLineDashStyle: "LongDash",
        labels: {
            format: '{value}',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        title: {
            text:null,
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        }
    }],

    series: [{
        color:'rgba(0,255,0,0.2)',
        showInLegend: false,
        name: 'ok',
        type: 'column',
        data: values,
        tooltip: {
            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}</b> '
        }
    }],

    credits: {
      enabled: false
  }
});

</script>
</body>
</html>
